.exercise-header {
  font-size: 18px;
  padding: 15px 0 5px 0;
}

.exercise-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
}

.routine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.routine-input {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.routine-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.routine-name {
  font-size: 20px;
  height: 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  text-align: center;
  margin: 10px auto;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #7c0a02;
  color: white;
  background-color: #121212;
}

.routine-reps,
.routine-sets {
  font-size: 20px;
  width: 35px;
  height: 35px;
  text-align: center;
}

.routine-rest {
  font-size: 20px;
  width: 35px;
  height: 35px;
  text-align: center;
}

.routine-name {
  font-weight: bold;
  margin-top: 20px;
}

.number-main {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.number-container {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.target-main {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.target-container {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.exercise-header {
  font-weight: bold;
}

.sign-button {
  margin: 10px 0 5px 0;
  border: 1px solid #7c0a02;
  background-color: #1f1f1f;
  color: white;
  border-radius: 4px;
  width: 200px;
  height: 30px;
}

.sign-button-disabled {
  margin: 10px 0 5px 0;
  border: 0;
  background-color: #3a3a3a;
  color: #1a1a1a;
  border-radius: 4px;
  width: 200px;
  height: 30px;
}

.react-exercise-list {
  color: black;
  background-color: blue;
  font-size: 16px;
}
