* {
  /* outline: 1px solid darkred; */
}

body {
  margin: 0;
  background-color: #121212;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
  background: #121212
  menu: #181818

  gradient_top: #404040
  gradient_bot: #282828

  primary: #fff
  secondary: #b3b3b3
*/
